body{

	background-color: white;
}

.button{
	background-color: red;
	color: white;
	width: 90px;
	margin: 5px;

}

#animal-form{

	float: right;
}

#animals{

	display: block;
}

.changeAnimals{

	display: block;
}


img{

	width: 200px;

}

